/* Navbar and EMdropdown */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0px;
  overflow: hidden;
  background-color: #40E0D0;
  font-size: 25px;
  content: 30px;
}

/* Navbar */
li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #ffbcd9;
}

/* Heading */
h1 {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

/* Paragraph for Index Page */
b {
  line-height: 210%;
  margin-left: 90px;
  margin-right: 90px;
}

/* Paragraph for All Pages */
p {
  font-size: 18px;
  line-height: 210%;
  margin-left: 90px;
  margin-right: 90px;
}

/* Logo Displayed on Each Page */
.EMlogo {
  position: absolute;
  bottom: 870px;
  right: 0;
  width: 200px;
  height: 100px;
}

/* Shoppingbag Displayed on Each Page */
.shoppingbag {
  position: absolute;
  top: 23px;
  left: 1650px;
}

.navbar {
  overflow: hidden;
}

.navbar a:hover {
  background-color: #ffbcd9;
}

.column {
  float: left;
  padding: 25px;
  align-content: center;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  text-align: center;
}

input[type="text"] {
  width: 100%;
  border: 2px solid #40E0D0;
  border-radius: 4px;
  margin: 8px 0;
  outline: none;
  padding: 8px;
  box-sizing: border-box;
  transition: 0.3s;
}

input[type="text"]:focus {
  border-color: #ffbcd9;
  box-shadow: 0 0 8px 0 #ffbcd9;
}

.inputWithIcon input[type="text"] {
  padding-left: 40px;
}

.inputWithIcon {
  position: relative;
}

.inputWithIcon i {
  position: absolute;
  left: 0;
  top: 8px;
  padding: 9px 8px;
  color: #40E0D0;
  transition: 0.3s;
}

.inputWithIcon input[type="text"]:focus+i {
  color: #ffbcd9;
}

.inputWithIcon.inputIconBg i {
  background-color: #40E0D0;
  color: #fff;
  padding: 9px 4px;
  border-radius: 4px 0 0 4px;
}

.inputWithIcon.inputIconBg input[type="text"]:focus+i {
  color: #fff;
  background-color: #ffbcd9;
}

.button {
  background-color: #40E0D0;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 12px;
  padding: 20px;
  width: 120px;
  height: 70px;
}

.button:hover {
  background-color: #ffbcd9;
}

.button:active {
  text-decoration: none;
}

.slideshow {
  top: 200px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.EM-button {
  background-color: #40E0D0;
  color: #40E0D0;
  border: none;
  font-size: 25px;
  padding: 20px;
  margin: none;
  display: inline;
  text-align: center;
  width: 205.6px;
}

.mybutton {
  text-align: center;
}

.tab button:hover {
  background-color: #ffbcd9;
}

a:link {
  color: white;
  text-decoration: none;
}

.EM-button {
  color: white;
  width: 21%;
  height: 70px;
}

.EM-button:hover {
  background-color: #ffbcd9;
}

div.columns {
  width: 900px;
}

div.columns div {
  width: 300px;
  height: 100px;
  float: left;
}

div.blue {
  background-color: #40E0D0;
  padding: 30px;
  margin: 30px;
}

div.pink {
  background-color: #ffbcd9;
  padding: 30px;
}

div.clear {
  clear: both;
}

@-webkit-keyframes fade {
  from {
    opacity: .95
  }

  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .95
  }

  to {
    opacity: 1
  }
}
