ul {
  list-style-type: none;
  margin: 0;
  padding: 0px;
  overflow: hidden;
  background-color: #40E0D0;
  font-size: 25px;
  content: 30px;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #ffbcd9;
}

.logo {
  position: absolute;
  top: 8px;
  right: 0;
  width: 200px;
  height: 100px;
}

.shoppingbag {
  position: absolute;
  top: 8px;
  left: 1000px;
}

h1 {
  text-align: center;
}

.img_1 {
    resize: both;
    overflow: visible;
    width: 5px;
    height: 10px;
}

.img_2 {
    resize: both;
    overflow: auto;
}

.img-3 {
    resize: both;
    overflow: auto;
}

.navbar {
  overflow: hidden;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  border: none;
  outline: none;
  padding: 14px 16px;
  background-color: #40E0D0;
  font-family: serif;
  font-size: 24px;
  color: white;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #ffbcd9;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  background-color: #96eee5;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ffd6e8;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
